.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(27rem / 16);
  margin-bottom: calc(100rem / 16);
}

.nav__wrapper {
  width: var(--width);
  margin-inline: auto;
}

.nav__logo:hover {
  border-radius: 13px;
}

.nav__btn {
  background-color: var(--clr-grey);
  color: var(--clr-blue-800);
}

.nav__btn:is(:hover, :focus) {
  background-color: var(--clr-blue-800);
  color: var(--clr-white);
}

/* tablet */

@media (min-width: 37.5em) {
  .nav {
    padding-top: calc(40rem / 16);
  }

  .nav__wrapper {
    width: var(--width);
  }
}

/* desktop */

@media (min-width: 56.25em) {
  .nav {
    padding-top: calc(55rem / 16);
  }
}
