body {
  background-color: var(--clr-white);
  color: var(--clr-blue-200);
  font-size: var(--fs-body);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-400);
  line-height: var(--lh-body);
  height: 100vh;
}

.btn {
  font-weight: var(--fw-700);
  text-transform: uppercase;
  padding: calc(11rem / 16) calc(14rem / 16);
  border-radius: 10px;
}

img:not(.nav__logo) {
  border-radius: var(--border-radius);
}

img {
  object-fit: cover;
}

.headline {
  color: var(--clr-blue-800);
  text-transform: uppercase;
}
/* tablet */

@media (min-width: 37.5em) {
  .btn {
    padding: calc(16rem / 16) calc(26rem / 16);
  }
}
