:root {
  --clr-orange-500: hsl(22, 89%, 52%);
  --clr-orange-300: hsl(22, 100%, 69%);
  --clr-blue-800: hsl(220, 50%, 17%);
  --clr-blue-200: hsl(221, 23%, 58%);
  --clr-grey: hsl(198, 28%, 93%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-barlow: "Barlow", sans-serif;

  --fs-body: calc(16rem / 16);
  --fs-h3: calc(24rem / 16);
  --fs-h2: calc(32rem / 16);
  --fs-h1: 2.5rem;

  --fw-400: 500;
  --fw-700: 700;
  --fw-900: 900;

  --lh-body: 1.63;
  --lh-h3: 1.17;
  --lh-h2: 1.13;
  --lh-h1: 1;

  --border-radius: 15px;
  --width: min(100% - calc(48rem / 16), calc(1110rem / 16));
}

/* tablet query */

@media (min-width: 37.5em) {
  :root {
    --width: min(100% - calc(80rem / 16), calc(1110rem / 16));
  }
}
